<%= form_with(model: order, url: new_restaurant_order_path) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display: none">
    <%= form.label :restaurant_id %>
    <%= form.select 'restaurant_id', options_from_collection_for_select(@restaurants, "id", "name") %>
 
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.select 'customer_id', options_from_collection_for_select(@customers, "id", "name") %>
   
  </div>
  <div class="field">
    <%= form.label :menu_item_id %>
    <%= form.select 'menu_item_id', collection_check_boxes(:order, :menu_item_ids, @restaurant.menu_items, "id", "name") %>
 
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
