<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Customer JESUS</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.menu_items %></td>
        <td><%= order.customer.name %></td>

        <td><%= link_to 'Show', order %></td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_restaurant_order_path %>
