<p id="notice"><%= notice %></p>

<p>
  <strong><%= @order.restaurant.name %> Order for </strong>
  <strong><%= @order.customer.name %></strong>
  
  <table>
  	<tbody>
  		<% @order.menu_items.each do |menu| %>
  		<tr>	
  			<td><%= menu.name %></td>
  			<td><%= number_to_currency(menu.price/100) %></td>

  		</tr>
  		<% end %>
  		<tr>
  			<td>total: <%= number_to_currency(@order.total/100) %></td>
  		</tr>
  	</tbody>
  </table>
  <br>
  
</p>


